spring.application.name=safebanking

spring.datasource.url=${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/safebanking_db}
spring.datasource.username=${SPRING_DATASOURCE_USERNAME:YOUR_USERNAME_HERE}
spring.datasource.password=${SPRING_DATASOURCE_PASSWORD:YOUR_PASSWORD_HERE}
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.open-in-view=false

spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

app.jwt.secret=${APP_JWT_SECRET:CHANGE_THIS_TO_A_RANDOM_SECRET_WITH_AT_LEAST_32_CHARACTERS}
app.jwt.expiration-seconds=${APP_JWT_EXPIRATION_SECONDS:3600}
